*{
	font-family: cursive !important;
}

/*---------common classes-------------*/


.userImage {
	border-radius: 50%;
}

.userImage:hover {
	position: absolute;
	border-radius: 0;
	top: 0;
	left: 50%;
	transform: scale(3.0);
	z-index: 30;

}

.backtohome {
  position: absolute;
  top: 10px;
  right: 10px;
}

.hide {
	display: none;
} 

.show {
	display: block;
}

.no-cursor {
  cursor: default;
}
.rs-select2.js-select-simple.select--no-search {
    width: 100%;
}
.btnColor {
		background-image: linear-gradient(to right, #368527 0%, #d2b829 100%);
}

.fa {
	font: normal normal normal 14px/1 FontAwesome !important;
}

.full-width {
  width: 100%;
}

.lead {
	margin-top: 10px;
	margin-bottom: 10px;
}

.positionBtn {
	position: absolute;
	bottom: 10px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}
/*---------common classes ends--------*/
.container-fluid {
	padding: 0;
}

body::before {
         background-image: linear-gradient(to right, #368527 0%, #d2b829 100%);
         background-size: cover;
         content: "";
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: -2;
         opacity: 0.8;
         }

.container-fluid nav.navbar,
.container-fluid .navbar-collapse,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
	background-color: #007d71 !important;
	color: white;
	z-index: 101;
	font-size: 17px; 
}

a.nav-item.nav-link {
	padding-right: 0 !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
	color: #4DB7FE;
}

/*nav.navbar {
	height: 80px;
}*/

.navbar-brand {
	margin-left: 35px;
	max-width: 400px;
}

.navbar-nav.ml-auto {
	
}

.navbar-collapse {
	margin: 0 -16px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: white;
}

.navbar-nav .nav-link {
	margin-right: 15px;
}

.navbar-nav .nav-link:last-child {
	margin-right: 35px;
}

@media (max-width: 992px) {
	.navbar-nav.ml-auto {
		margin-left:  16px !important;
	}

	.navbar-brand {
		margin-left: 0;
	}
	
}

/*------header ends here ---------------*/

.search-section {
	background: url('../../images/section1bg.jpg') no-repeat top center fixed;
	height: 545px;
	position: relative;
}

.search-section .background-overlay {
	  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 2;
}

.hero-section {
	padding: 150px 0 200px 0;
	position: absolute;
	width: 100%;
	font-family: inherit;
	text-align: center;
	z-index: 100;
}

.hero-section h2 {
	width: 100%;
	font-size: 44px;
	color: white;
	text-align: center;
	font-weight: 600;

}

.row {
	margin: 0;
}

form.row {
	margin: 35px auto 0 auto;
	border-radius: 19px;
	box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.3);
}

form .col-5 {
	margin: 0;
	padding: 0;
}

/*--- search section ends---*/

.list-section {
	margin: 35px 50px 10px 50px;
	padding-bottom: 50px;
}

.matchBtn {
	  position: absolute;
    top: 206px;
    padding: 5px 22px;
    border: 0px;
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.3);

}

.form-group.has-search {
		width: 200px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding: 11px;
}

.filter {
	padding: 8px;
	font-size: 20px;
}

.filter .filter-text {
	display: inline-block;
}
.filter .fa-filter {
	font-size: 20px !important;
}

.list-heading-text {
	font-size: 36px;
	padding: 20px 0;
	text-align: center;
	font-weight: 600;
}

.card {
	height: 410px;
}

.card-body {
	padding: 1.75rem 1.25rem;
}

.card-body .card-title:first-child {
	font-weight: 600;
	font-size: 18px;
}

.viewDetailsBtn {
	position: absolute;
  bottom: 6px;
  border: 0;
}

.card-text-div {
  height: 51px;
  line-height: 1.25;
  
}

.card-text-div .card-text {
	text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.list-group-item {
	border: none;
	text-align: center;
}

.img-container {
  padding-bottom: 25px;
  background: #6cba59;
  height: 128px;
}

.img-container img {
	margin-left: 25px;
	float: left;
}

.card-container {
	padding-bottom: 20px;
}

.modal-footer, .modal-header {
	border: none;
}

.modal-body {
	padding: 0;
}

.modal-header {
	background: #6cba59;
}

.cardName {
	font-size: 20px;
	color: white;
	text-transform: capitalize;
	line-height: 1.5;
	padding-left: 150px;

	padding-top: 15px;
}

.cardTitle {
	  font-size: 15px;
    padding-left: 150px;
    padding-top: 0;
    color: white;
    text-transform: capitalize;
    line-height: 1.5;
}
@media (min-width: 992px) {
	.card:hover {
		margin-top: -.25rem;
		margin-bottom: .25rem;
		box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	}
	
}

.cardHead {
  font-size: 18px;
  padding-left: 20px;
  padding: 10px 0 0 0px;
  color: grey;
  margin-top: 12px;
}

.description-container {
	padding: 0 25px;
}

hr {
	margin: 7px 0;
	border-top: 1px solid lightgrey;
}

.notification-count {
	position: absolute;
	top: 0;
	left: 116px;
	display: inline-block;
	border-radius: 10px;
	background: white;
	height: 15px;
	padding: 0 3px;
	color: indianred;
}

.notification-menu {
	position: relative;
	max-width: 150px;
	padding-left: 0 !important;
}

.connectionMenu {
  position: absolute;
    right: 7px;
    top: 5px;
    font-size: 16px;
    color: orange;
    text-align: right;
}

.menuDiv {
	width: 175px;
	position: absolute;
	right: 22px;
	top: 22px;
 }

.menuDiv a.btn {
	min-width: 175px;
	border: none;
	padding: 0 10px;
	border-radius: 0;
	line-height: 26px;
}

.hide {
	display: none;
}

.messages ul{
	display: inline-block;
	width: 100%;
}

.footer-copyright {
	background-color: #007d71 !important;
	padding: 25px;
	color: white;
	font-size: 18px;
}

.footer-copyright a {
	color: white;
}


form.search-bar input[type=text] {
  padding: 8px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 5px 0 0 5px;
}

form.search-bar button {
  float: left;
  width: 20%;
  padding: 12px 0 11px 0;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

form.search-bar button:hover {
  background: #0b7dda;
}

form.search-bar::after {
  content: "";
  clear: both;
  display: table;
}

.list-unstyled li {
	font-size: 18px;
  line-height: 30px;
}

.wrapper label {
	color: green;
}